@mixin rubik300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

@mixin rubik400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

@mixin rubik500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

@mixin rubik600 {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
}


@mixin focusBorder($radius) {
  outline-color: rgba(255, 104, 56, 0.7);
  outline-width: 2px;
  border-radius: $radius;
}

@mixin focusBackground {
  background-color: rgba(255, 122, 80, 0.1);
  border: 1px solid rgba(255, 104, 56, 0.7);
}

@mixin backImg($position, $size) {
  background-repeat: no-repeat;
  background-position: $position;
  background-size: $size;
}
@mixin contentItemBefore {
  display: block;
  width: 36px;
  height: 36px;
  align-items: center;
  margin-right: 30px;
  
}