@import 'reset';
@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'global';
@import 'libs';




.logo {
  transition: all 0.3s; 
  
  &:focus{
    @include focusBorder (5px);
  }
  
  &:hover{
    opacity: 0.7;
  }

  &:active{
    opacity: 0.7;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  align-items: center;
 
  &__list{
    display: flex;
    margin-left: auto;
    margin-right: 63px;
  }
 
  &__item{
    font-size: 18px;
    line-height: 1.2;
  }
  
  &__item:not(:last-child) {
    margin-right: 43px;
  }
  
  &__link{
    color: $text;
    transition: all .5s; 
    &:focus {
      @include focusBorder (5px);
    }

    &:hover {
      color: $accent;
      cursor: pointer;
    }
    
    &:active{
      color: $text;
      filter: drop-shadow(0px 2px 4px $text);
    }
  }

  &__link--active{
    color: $accent;
  }
  
  &__icon {
    display: flex;
    position: relative;
    align-items: center;
  }
  
  &__icon-item--margin{
    margin-right: 10px;
  }
  
  &__icon-link {
    width: 44px;
    height: 44px;
    border-radius: 6px;
    svg{
      fill: transparent;
      stroke: $text;
    }

    &:focus {
      @include focusBorder (5px);
      background-color: rgba(255,122,80,.1);

    }

    &:hover{
      background-color: rgba(255, 104, 56, 0.7);  
      border: transparent;
      svg{
        fill: transparent;
        stroke: $defolt;
       };
      .menu__icon-num{
        color: $accent;
        background-color: $defolt;

      }
    }

    &:active{
      background-color: rgba(255,122,80,.1);
      border: transparent;
      svg{
        fill: transparent;
        stroke: $text;
      }
    }
  }
      
  &__icon-num{
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-size: 10px;
    color: $defolt;
    background-color: $accent;
  }
}

.burger,
.burger-exit {
  display: none;
  border: none;
  background-color: transparent;
  padding: 0;
}

.hero {
  display: flex;
  height: calc(100vh - 160px); 
  margin-bottom: 120px;
  width: 100%;
  @include backImg (right, contain);

  &__inner{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  }
  &__title{
  font-size: 66px;
  font-weight: 600;
  color: $title;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 20px;
  }
      
  &__title--color{
  color:  $accent;
  display: block;
 }
  &__text {
    color: $text ;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  &__buttons{
    display: flex;
  }  

  &__link {
    color: $title;
    text-decoration: underline;
    align-items: center;
    display: flex;
  }
}

.link{
  transition: all .5s; 
  &:focus{
    text-decoration: none;
    @include focusBorder (5px);
  
  }
  &:hover{
    color: $accent;
    text-decoration: none;
    cursor: pointer;
  }

  &:active {
    color: $title;
    filter: drop-shadow(0px 2px 4px $title);
  }
 }


.popular{
  &__title{
    margin-bottom: 60px;
  }

  &__fifter-btn{
    display: flex;
    justify-content: space-between;
  }
 
  &__btn {
    background-color: $defolt;
    padding: 13px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ececec;
    border-radius: 5px;
    color: $title;
    line-height: 1.3;
    margin-bottom: 45px;
    transition: color 0.7s;

      &:hover{
      @include focusBackground;
      color:$accent;
      cursor: pointer;
      svg{
        fill: $accent;
      }
    }

      &:active{
        background-color: $defolt;
        color: $title;
        box-shadow:inset 0px -5px 15px rgba(255, 122, 80, 0.1);
        svg {
          fill: $title;
        }
      }
   }
  
   &__btn--active{
    color: $defolt;
    background-color: $accent;
    svg{
      fill: $defolt;
    }
  }

  &__icon {
    margin-right: 10px;
    fill: $title;
    stroke:transparent;
    transition: fill 0.7s;
//     &:hover {
//       fill: $accent;
//     }
   }
}

.popular__item:not(:last-child) {
  margin-right: 10px;
}

 
.popular-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, 210px);
    grid-gap: 30px;
    margin-bottom: 60px;
    justify-content: center;
  &__content {
    padding: 20px 15px;
    background-color: $defolt;
    border: 1px solid #ececec;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
      border: 1px solid rgba(255, 104, 56, 0.7);
    }
  
  }
  &__content-link{
    @include focusBorder (5px);
  }

  &__img {
    margin: 0 auto 10px;
    object-fit: cover;
  }

  &__title {
    color: $text;
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 10px;
    @include rubik400 ;
  }
  &__price {
    display: inline;
    color: $title;
    @include rubik500;
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 10px;
    @include rubik600;
    
  }
  &__btn {
    margin: 0 auto;
    text-align: center;
    color: $defolt;
    background-color: $accent;
    padding: 7px 16px;
    border-radius: 6px; 
    font-size: 14px;
  }
  &__link-wrap{
    text-align: center;
    margin-bottom: 120px;
  }

  &__link {
    color: $title;
    text-decoration: underline;
    display: inline;
  }
  
}

.features{
  margin-bottom: 130px;
  &__btn {
    display: inline;
    margin-bottom: 58px;
    font-size: 18px;
    letter-spacing: 0.03em;
  }
}

.features-content{
  margin: 0 85px;
  @include backImg(left, contain);
  display: flex;
  justify-content: flex-end;

  &__inner{
    width: 45%;
    margin: 58px 0;
  }

  &__title{
    text-align: start;
    margin-bottom: 30px;
  }
  &__text {
    color: $text;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  &__list{
    margin-bottom: 30px;
  }
  &__item {
    font-size: 24px;
    line-height: 1.5;
    color: $title;
    display: flex;
    
  }
  &__item:not(:last-child){
    margin-bottom: 20px;
  }

  &__item--time::before{
    content: ' ';
    background-image: url(../images/timericsvg.svg);
    @include contentItemBefore ;
    @include backImg (center, cover);
  }
  &__item--delivery::before{
    content: ' '; background-image: url(../images/deliveryic.svg);
    @include contentItemBefore ;
    @include backImg (center, cover);
  }

  &__item--restoraunt::before{
    content: ' ';
    background-image: url(../images/resturentic.svg);
    @include contentItemBefore ;
    @include backImg (center, cover);
  }
}

.restoraunt {
  margin-bottom: 120px;

  &__title {
    margin-bottom: 45px;
  }

  &__panel{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;         
  }

  &__panel-box{
    display: inline-block;
    background-color: $defolt;
    border-radius: 10px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  }
  
  &__img{
    margin: 0 auto 15px;
    object-fit: cover;

    &:hover {
      cursor: pointer;
    }

  }

  &__name{
    font-size: 24px;
    color: $text;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 23px;
  }

  &__time {
    display: inline-flex;
    align-items: center;
  }

  &__link{
    display: inline-block;
    background-color: $accent;
    padding: 5px 27px 3px 28px;
    border-radius: 20px;
    margin-right: 0;
    transition: padding .7s;
    svg{
      fill: $defolt;
    }

    &:focus{
      @include focusBorder (20px);
      svg {
        fill: $accent;
      }
    }
    &:hover{
      padding: 5px 4px 3px 51px;
      svg {
        fill: $accent;
      }
    }
  }

}

.restoraunt__time::before {
  content: ' ';
  background-image: url(../images/timer-restorauntsvg.svg);
  @include backImg (center, cover);
  display: block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.reviews {
  margin-bottom: 130px;
  
  &__title{
    margin-bottom: 45px;

  }
  &__content{
    display: flex !important;
    align-items: center;
    margin-bottom: 48px;

  }

  &__quote{
    padding: 0 40px;
    position: relative;
  }
  
  &__quote-text {
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 30px ;    
  }

  &__img {
    border-radius: 50%;
    margin-right: 40px;
    object-fit: contain;

  }
  &__author-name {
    display: block;
    color: $accent;
  }
  &__preference {
    display: block;
    font-size: 14px;
    color: $text;
    margin-top: 15px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
   
  }

  &__slider {
    padding: 0 90px;
    position: relative;
    button{
    
      padding: 0;
      font-size: 0;
      border: transparent;
      background-color: transparent;
      width: 34px;
      height: 34px;
      border: 3px solid #c2c2c2;
      border-radius: 50%;
    }
  }

  .slick-prev{
    background-image: url(../images/review-prev.svg);
    @include backImg(center, 40% );
    position: absolute;
    bottom: -8px;
    left: 40%;
  }

  .slick-next{
    background-image: url(../images/review-next.svg);
    @include backImg(center, 40%);
    position: absolute;
    bottom: 0;
    bottom: -8px;
    right: 40%;
  }

}

.reviews__quote-text::before{
  content: "";
  background-image: url(../images/left“.svg);
  display: inline-flex;
  width: 24px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
}

.reviews__quote-text::after{
  content: "";
  background-image: url(../images/right“.svg);
  display: inline-flex;
  width: 24px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
}

.app {
  margin-bottom: 120px;
  
  &__title {
    text-align: left;
    margin-bottom: 45px;
  }
  &__wrap{
    @include backImg(right, contain);
  }

  &__inner{
    padding: 40px 0;
    width: 50%;
  }
  
  &__text{
    color: $text;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
  }
  
  &__link:hover{
    opacity: .8;
  }
  
  
  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.footer-logo{
  margin-bottom: 30px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    
    &__form{
      width: 200px;
    }

    &__input {
      background-color: $defolt;
      border: 1px solid #c2c2c2;
      border-radius: 5px;
      padding: 13px 15px;
      width: 100%;
      margin-bottom: 12px;
      height: 44px;
     
      &:focus {
        @include focusBorder (5px);
      }
    }
    
    &__input::placeholder{
      font-size: 14px;
      color: #c2c2c2;
      line-height: 1.3;

    }
    
    &__btn {
      display: inline-flex;
      justify-content:space-evenly;
      color: $defolt;
      border: transparent;
      background-color: $accent;
      border-radius: 5px;
      padding: 13px 15px;
      width: 100%;
      font-size: 14px;
      height: 44px;
      align-items: center;
      transition: all 0.7s;
      
      &:focus{
        @include focusBackground;
        @include focusBorder (5px);
        color:$accent;
        cursor: pointer;
        path{
          fill: $accent;
        }
      }
      &:hover{
        border: 1px solid rgba(255, 104, 56, 0.7);
        background-color: $defolt;
        color:$accent;
        cursor: pointer;
        path{
          fill: $accent;
        }
      }
      &:active{
        border: transparent;
        background-color: rgba(255, 122, 80, 0.1);
        color:$accent;
        cursor: pointer;
        path{
          fill: $accent;
        }
      }
    }
    
    &__info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 0 auto;
    }

  
    &__link {
      font-size: 18px;
      color: $text;
      line-height: 1.3;
    }

    &__contact{
      margin-right: auto;
    }

    &__contact-link{
      display: flex;
      font-size: 16px;
      color: $text; 
      margin-bottom: 15px;
      line-height: 2;
      transform: stroke .7s;
      svg{
        fill:transparent; 
        stroke: $text; 
      }
      &:hover {
        svg{
          fill:transparent; 
          stroke: $accent; 
        }
      }
    }
    &__contact-icon {
      margin-right: 7px;
    }

}

.footer-top__input:hover::placeholder{
    color: $text;
    cursor: pointer;
 }


.social{
  display: flex;
    &__link{
    width: 39px;
    height: 39px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECECEC;
    transition: all .5s;

    &:focus{
      @include focusBorder (50%);
      background: rgba(255, 122, 80, 0.1);
      cursor: pointer;
      
      svg{
        fill: $text;
      }

    }

    &:hover{
      background-color: $accent;
      svg{
        fill: $defolt;
       
       }
    }

    &:active{
      background-color: rgba(255, 122, 80, 0.1);
      border: transparent;
      svg{
        fill: $accent;
        
       }

    }
  
  }
  &__item:not(:last-child){
    margin-right: 13px;
  }
   
}

.footer-bottom {
  padding: 30px;
  text-align: center;
  color: $text;
  font-size: 14px;
}  




@media (max-width: $xl ) {

      .popular {
      margin-bottom: 40px;
        
      &__fifter-btn{  
        overflow-x: auto;
        font-size: 14px;
      }
    }

    .features-content__inner {
      background-color: rgba(249, 250, 255, .8);
      width: 100%;
      margin: 0;
    }
    .app__wrap{
      background-size: 50%;
      
    }
    
    .footer-top__info{
      text-align: center;
      column-gap: 15px;
      grid-template-columns: repeat(2, 1fr);
    }

}


@media (max-width: $lg ) {

  .reviews {
    &__content {
      flex-direction: column;
      margin-bottom: 0;
    }

    &__img{
      
      margin: 0 auto 20px; 
    }

    .slick-dots{
      button{
        display: none;
      }
    }

    .slick-prev {
      left: 120px;
      top: 120px;
    }

    .slick-next {
      right: 120px;
      top: 120px;
    }

  }

  .restoraunt {
    &__time{
    font-size: 14px;
  } 
   &__panel {
    grid-gap: 15px;
   }

 }
}


@media (max-width: $md) {

  .logo-img {
    width: 115px;
    height: 23px;
  }

  .menu{
    &__link {
    font-size: 14px;
  }
    &__list {
      margin-right: 35px;
    }
  }

  .popular-card {
    grid-template-columns: repeat(auto-fill, 170px);
  }

  
  .reviews__img{
    width: 200px;
    height: 200px; 

  }

  .restoraunt__panel {
    grid-template-columns: repeat(2, 1fr);
  }

  
}


@media (max-width: $sm) {

  .header__logo--active {
    background-color: $defolt;
    position: absolute;
    top: 0;
    width: 300px;
    background-color: $defolt;
    z-index: 3;
    left: 0;
    padding: 25px 15px;
    border-bottom: 1px solid #EEEFF3;
    .logo-img{
      width: 200px;
      height: 40px;
    }
  }


  .contact--active {
    position: absolute;
    background-color: $defolt;
    padding: 25px 15px;
    width: 300px;
    height: 100vh;
    left: 0;
    top: 247px;
    z-index: 3;
    tran
    .menu__item:not(:last-child){
      margin-bottom: 20px;
    }
    
  }
  .wrapper--active{
    background-color: red;  
  
  }

  .burger {
    display: block;
  }

  .burger-exit--active {
    display: block;
    z-index: 4;
    position: absolute;
    left: 255px;
  }

  .header-content__btn {
    padding: 8px 24px;
  }

  .menu{
    padding: 15px 0;
    margin-bottom: 0;
    &__list{
      background-color: blue;
      position: absolute;
      right: 0;
      left: 0;
      margin: 0;
      top: 108px;
      margin: 0;
      display: flex;
      flex-direction: column;
      display: none;
    }
    &__icon{
      margin-left: auto;
      margin-right: 20px
    }

  }

  .menu__list--active {
    display: block;
    top: 91px;
    left: 0;
    background-color: $defolt;
    padding: 25px 15px;
    border-bottom: 1px solid #EEEFF3;
    width: 300px;
    z-index: 3;
    .menu__item{
      margin: 0;
    }

    .menu__item:not(:last-child){
      margin-bottom: 20px;
    }

  }

  .hero {
    margin-bottom: 40px;
    background-position: top right;
    background-size: 89%;
       
    &__inner {
      background-color: rgba(249, 250, 255, .8);
      width: 100%;
      padding: 25px 0;
      justify-content: flex-start;
    }
    
    &__title {
      font-size: 40px;
      line-height: 1.3;
      
    }
    &__title--color{
      margin-bottom: 0;
    }

    &__text {
      font-size: 16px;
      line-height: 1.5;
    }

    &__link {
      font-size: 16px;
      line-height: 1.5;
   }
  }

  .title{
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 30px;
     
  }

  .popular {
    margin-bottom: 40px;
      
    &__btn{
      padding: 11px 16px;
      margin-bottom: 30px;
    }

    &__icon{
      width: 20px;
      height: 20px;
    }

  }

  .popular-card {
   
    grid-gap: 5px;
    margin-bottom: 30px;
    &__link {
      font-size: 20px;
      line-height: 1.5;
    }
    &__link-wrap {
      margin-bottom: 0;
    }
 }

 .features__btn{
  font-size: 14px;
  line-height: 1.3;
 }
 
 .features{
  margin-bottom: 40px;
 }
 .features-content {
  margin: 0;
  box-shadow: inset 0 0 0 600px rgba(249, 250, 255, .8);
  
  
  &__inner{
    width: 100%;
    margin: 0;
    padding: 15px 0;
 
  }
  &__text{
    font-size: 16px;
  }
  
  &__list{
    margin-bottom: 20px;
  }
  
  &__item{
    font-size: 18px;
    line-height: 1.5;
  }
 }


 .restoraunt{
  padding-top: 15px;
  margin-bottom: 40px;
    .slick-dots{
      display: flex;
      justify-content: center;
      align-items: flex-end;
  
    }

    &__panel{
      display: flex;
      flex-direction: column;
    
    }
  

  
}

.reviews{
  margin-bottom: 40px;

  &__slider{
    padding: 0;
    
  }
  
  &__quote{
    font-size: 14px;
    line-height: 1.5;
  }
  &__quote-text{
    margin-bottom: 20px;
  }

  &__author-name{
    margin-bottom: 10px;
  }
  .slick-prev {
    left: 36px;
    top: 37px;
  }
  .slick-next {
    right: 36px;
    top: 37px;
  }
 
}

.app {
  margin-bottom: 40px;

  &__wrap {
    background-size: 0;
    font-size: 14px;
  }

  &__inner{
    width: 100%;
    padding: 0;
  }

  &__img{
    width: 100px;
    height: 40px;
  }

} 

 .footer-logo {
  width: 200px;
  height: 40px;
 }
 .footer-top {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;

  &__form{
    margin-bottom: 30px;
  }

  &__info {
  display: block;
  text-align: left;
  margin: 0;
  order: 1;
 }

 &__item {
  margin-bottom: 20px;
 }

&__contact {
 margin-bottom: 30px;
}

 }

 .footer-bottom{
  padding: 20px ;
 }

}